li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

.container {
  background-color: yellow;
}

.jumbotron {
  background-color: #ff9a02;
}

.title {
  font-size: 74px;
}
